body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/pow-star.png);
}

.bottomtext {
    text-align: left;
}

.contenttitle {
    color:#4aaa;
    font-size: 300%;
    padding-left: 75px;
    padding-right: 50px;
}

footer {
    background-color: #666666;
    margin-top: 50px;
    border-top: 8px solid #4aaaa5;
    padding-top: 50px;
    padding-bottom: 15px;
}

.footertext{
    color: #ffffff;
    text-align: center;
    font-size: 50%;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
    font-weight: bold;
}

li a{
    display: block;
    padding: 8px;
    background-color: #ffffff;
    float: right;
}

.maincontent {
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 400px;
}

.maincontenttext{
    background-color: #ffffff;
    width: 960px;
    float: right;
    width: 70%;
    color: #666666;
    line-height: 2;
    padding-right: 70px;
}

.namebox {
    background-color: #4aaaa5;
    width: 200px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 250px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 24pt;
    font-weight: bold;
}

.navlinks {
    
}

nav {
    border-color: #cccccc;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #666666;
    border-style: inset;
    line-height: 1.5;
    overflow: hidden;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.profileimage{
    padding-left: 70px;
    padding-right: 50px;
}