body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/pow-star.png);
    align-self: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    width: 200px;
}

h2 {
    color: #4aaaa5

}

title {
    border-color: #cccccc;
}

div {
    display: inline-block;
    box-sizing: border-box;
    width: 960px;
    align-self: center;

}

footer {
    background-color: #666666;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #4aaaa5;
    border-style: solid;
    width: auto;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    border-top: 8px solid #4aaaa5;
    font-size: 70%;
    padding-bottom: 8px;
}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    float: none;
    align-self: center;
    margin-bottom: auto;
}

p {
    background-color: #ffffff;
    border-color: #dddddd;
}

.headerlinks {
    color: #777777;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }

li {
    float: right;
  }
  
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

nav {
    background-color: #dddddd;
    line-height: 2;

  }

  .name{
      width=20%;
  }

  form {
      width: 100%;
  }
      
input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  img {
      width: 35%;
      padding: 5%;
  }