html { 
    height: 100%; 
    position: relative;
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:78px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/pow-star.png);
    align-self: center;
    display: inline-block;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 24pt;
}

h2 {
    color: #4aaaa5

}

title {
    border-color: #cccccc;
}

div {
    box-sizing: border-box;
    width: 960px;
    align-self: center;

}

footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:78px; 
    background-color: #666666;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #4aaaa5;
    border-style: solid;
    width: 100%;
    text-align: center;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    font-size: 70%;
    padding-bottom: 8px;
}

section {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    float: none;
    align-self: center;
    margin-bottom: auto;
}

p {
    background-color: #ffffff;
    border-color: #dddddd;
}

.footertext {
    background-color: #666666;
    padding-top: 50px;
}

.headerlinks {
    color: #777777;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }

li {
    float: right;
  }
  
li a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
  }

nav {
    background-color: #ffffff;
    line-height: 1.5;
    overflow: hidden;
  }
  
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
nav a.active {
    background-color: #4CAF50;
    
    color: white;
  }

.name{
  height: 75px;
  width: 200px;
  }

.namebox{
  padding-top: 20px;
}

form {
      width: 100%;
  }
      
input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
img {
      width: 35%;
      padding: 5%;
  }

.imagecontainer .info-wrapper {
    bottom: 0;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    padding: .5em;
    right: 57%;
    top: 0;